[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "==0.7.0"
iniconfig = "==2.3.0"
markdown-it-py = "==4.0.0"
mdurl = "==0.1.2"
packaging = "==25.0"
pluggy = "==1.6.0"
pydantic-core = "==2.41.5"
pygments = "==2.19.2"
pytest = "==9.0.2"
rich = "==14.2.0"
shellingham = "==1.5.4"
typer = "==0.20.0"
typing-inspection = "==0.4.2"
typing-extensions = "==4.15.0"

[dev-packages]

[requires]
python_version = "3.12"
